@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --messenger-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  --messenger-gray: #f0f2f5;
  --messenger-gray-dark: #dadbe1;
  // --messenger-gray-dark: #e4e6eb;
  --messenger-blue: #2061f3;
  --messenger-blue-hover: #ebf5ff;

  --shadow-1: 0px 5px 12px rgba(52, 72, 84, 0.2);

  --shadow-2: 0px 0px 12px rgba(52, 72, 84, 0.5);

  --shadow-3: 0px 8px 20px 0px rgba(0, 0, 0, 0.2),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.bg_fb {
  background-color: #0866ff !important;
  color: #ffffff !important;
}
.bg_fb2 {
  background-color: #42b72a !important;
  color: #ffffff !important;
}

.chatUsersHeaderSearch .search {
  // color: #b0b3b8;
  color: #606770;
}

// FaceBookLogo

.xe3v8dz {
  fill: white;
}

// .x1lliihq{
//   fill: #385898;
// }

// FaceBookLogo
